<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="manifest" href="<%= BASE_URL %>manifest.json" />
  <link rel="manifest" href="<%= BASE_URL %>manifest.webmanifest" />
  <title>Akademy 2019</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
</head>

<body>
  <noscript>
    <strong>We're sorry but Akademy 2019 doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>