<template>
  <v-container>
    <v-expansion-panels>
      <v-expansion-panel v-for="(item , i) in items" :key="i">
        <v-expansion-panel-header>{{item.date}}</v-expansion-panel-header>
        <v-expansion-panel-content>
          <div v-if="i===0 || i===1">
            <Day :schedule="item.schedule" />
          </div>
          <div v-else>
            <Bof :schedule="item.schedule" />
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>Extras</v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-container>
            <v-row>
              <v-col>
                <v-row align="center" justify="space-around">
                  <v-btn
                    class="ma-3 pa-xs-6 pa-sm-2"
                    rounded
                    target="_blank"
                    color="success"
                    href="https://akademy.kde.org/2019/welcome-event-friday"
                  >Welcome Event</v-btn>
                  <v-btn
                    class="ma-3 pa-xs-6 pa-sm-2"
                    rounded
                    target="_blank"
                    color="primary"
                    href="https://community.kde.org/Akademy/2019/Akademy_Events"
                  >Smaller Events</v-btn>
                  <v-btn
                    class="ma-3 xs-pa-xs-6 pa-sm-2"
                    rounded
                    target="_blank"
                    color="success"
                    href="https://akademy.kde.org/2019/daytrip-wednesday"
                  >Daytrip</v-btn>
                  <v-btn
                    rounded
                    target="_blank"
                    class="ma-3 pa-xs-6 pa-sm-2"
                    color="primary"
                    href="https://community.kde.org/Akademy/2019/TrainingCommunication"
                  >Communication Training</v-btn>
                  <v-btn
                    rounded
                    target="_blank"
                    class="ma-3 pa-xs-6 pa-sm-2"
                    color="success"
                    href="https://community.kde.org/Akademy/2019/Food-and-Drink"
                  >Food & Drinks</v-btn>
                  <v-btn
                    rounded
                    target="_blank"
                    class="ma-3 pa-xs-6 pa-sm-2"
                    color="primary"
                    href="https://community.kde.org/Akademy/2019/A_brief_guide_to_Milan%27s_Gastronomy"
                  >Milan Gastronomy Guide</v-btn>
                  <v-btn
                    rounded
                    target="_blank"
                    class="ma-3 pa-xs-6 pa-sm-2"
                    color="success"
                    href="https://maps.app.goo.gl/AMdY6FjxHcNtv87F7"
                  >Map</v-btn>
                  <v-btn
                    rounded
                    target="_blank"
                    class="ma-3 pa-xs-6 pa-sm-2"
                    color="primary"
                    href="https://telegram.me/KDEAkademy"
                  >Telegram Group</v-btn>
                </v-row>
              </v-col>
            </v-row>
          </v-container>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-container>
</template>

<script>
import axios from "axios";
import Day from "../layouts/day.vue";
import Bof from "../layouts/bof.vue";
export default {
  components: {
    Day,
    Bof
  },
  data() {
    return {
      items: []
    };
  },
  created() {
    this.items = [
      { date: "07/09", schedule: [] },
      { date: "08/09", schedule: [] },
      { date: "09/09", schedule: [] },
      { date: "10/09", schedule: [] },
      { date: "11/09", schedule: [] },
      { date: "12/09", schedule: [] },
      { date: "13/09", schedule: [] }
    ];
    this.fetchData();
  },
  methods: {
    fetchData() {
      axios
        .get("https://conf.kde.org/en/Akademy2019/public/schedule.json")
        .then(response => {
          let array = response.data.schedule.conference;
          let data = array.days[0].rooms["U4-08"];
          let schedule = data.concat(array.days[0].rooms["U4-01"]);
          this.items[0]["schedule"] = this.prepareData(schedule);

          data = array.days[1].rooms["U4-08"];
          schedule = data.concat(array.days[1].rooms["U4-01"]);
          this.items[1]["schedule"] = this.prepareData(schedule);
        })
        .catch(error => {
          console.log(error);
        });
      axios
        .get("https://akademy-schedule.kde.org/bof.json")
        // .get("http://localhost:8081/bof.json") For development
        .then(response => {
          let array = response.data;
          for (const [key, values] of Object.entries(array)) {
            let i = null;
            switch (key) {
              case "Monday":
                i = this.items[2];
                break;
              case "Tuesday":
                i = this.items[3];
                break;
              case "Wednesday":
                i = this.items[4];
                break;
              case "Thursday":
                i = this.items[5];
                break;
              case "Friday":
                i = this.items[6];
                break;
              default:
                i = null;
            }
            i.schedule = values;
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    prepareData(data) {
      let array = data.map(function(speaker) {
        return {
          name: speaker.persons[0] ? speaker.persons[0].public_name : "",
          talk_name: speaker.title,
          talk_time: speaker.start,
          talk_room: speaker.room,
          talk_description: speaker.description,
          talk_abstract: speaker.abstract
        };
      });
      let result = this.sortByKey(array, "talk_time");
      return result;
    },
    sortByKey(array, key) {
      return array.sort(function(a, b) {
        let x = a[key];
        let y = b[key];
        return x < y ? -1 : x > y ? 1 : 0;
      });
    }
  }
};
</script>